*.class
*.log
target
work
node_modules
export
tmp
# Eclipse project files
.classpath
.project
.settings
.externalToolBuilders
.springBeans
# mac
.DS_Store
# IntelliJ project files
.idea
*.iml
# Package files
*.jar
*.war
*.ear
.svn
# brackets 
*.brackets.json
/plugin/css/style.css
